@model FurCoNZ.ViewModels.OrderIndexViewModel
@{
    ViewData["Title"] = "Order Tickets";
}

<form asp-action="Index" method="post">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Purchase</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AvailableTicketTypes.Count; i++)
            {
                <tr>
                    <td>@Model.AvailableTicketTypes[i].Name</td>
                    <td>$@((Model.AvailableTicketTypes[i].PriceCents / 100).ToString("f2"))</td>
                    <td>@Model.AvailableTicketTypes[i].TotalAvailable remaining</td>
                    <td>
                        <input asp-for="@Model.AvailableTicketTypes[i].Id" type="hidden" />
                        <input asp-for="@Model.AvailableTicketTypes[i].QuantityOrdered" min="0" max="@Model.AvailableTicketTypes[i].TotalAvailable" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary float-md-right">Details &gt;</button>
</form>