@model FurCoNZ.ViewModels.TicketDetailViewModel

<div class="card">
    <h4 class="card-header">Ticket #@Model.Id</h4>

    <div id="attendee-@Model.Id-detail" aria-labelledby="attendee-@Model.Id-header">
        <div class="card-body">
            <h5 class="card-title">@Model.BadgeName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.TicketTypeName</h6>
            <hr/>
            <dl class="row">
                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.EmailAddress)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.EmailAddress)</dd>

                @if (!String.IsNullOrWhiteSpace(Model.PreferredFullName))
                {
                    <dt class="col-lg-3">@Html.DisplayNameFor(x => x.PreferredFullName)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(x => x.PreferredFullName)</dd>
                }

                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.IdentificationFullName)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.IdentificationFullName)</dd>

                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.DateOfBirth)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.DateOfBirth)</dd>

                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.KnownAllergies)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.KnownAllergies)</dd>

                @if (!String.IsNullOrWhiteSpace(Model.OtherNotes))
                {
                    <dt class="col-lg-3">@Html.DisplayNameFor(x => x.OtherNotes)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(x => x.OtherNotes)</dd>
                }
            </dl>
        </div>
    </div>
</div>