@model TicketDetailViewModel

<div class="card">
    <div class="card-header">
        <p class="h4">Ticket #@Model.Id <small class="text-muted"> - @Model.BadgeName</small></p>
    </div>

    <div id="attendee-@Model.Id-detail" aria-labelledby="attendee-@Model.Id-header">
        <div class="card-body">
            <h5 class="card-title">@Model.TicketType.Name</h5>
            <hr/>
            <dl class="row">
                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.BadgeName)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.BadgeName)</dd>
                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.EmailAddress)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.EmailAddress)</dd>

                @if (!String.IsNullOrWhiteSpace(Model.PreferredFullName))
                {
                    <dt class="col-lg-3">@Html.DisplayNameFor(x => x.PreferredFullName)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(x => x.PreferredFullName)</dd>
                }

                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.IdentificationFullName)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.IdentificationFullName)</dd>

                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.DateOfBirth)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.DateOfBirth)</dd>

                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.DietryRequirements)</dt>
                <dd class="col-lg-9">@(string.Join(", ", Model.DietryRequirements.Select(f => f.ToString())))</dd>

                <dt class="col-lg-3">@Html.DisplayNameFor(x => x.KnownAllergies)</dt>
                <dd class="col-lg-9">@Html.DisplayFor(x => x.KnownAllergies)</dd>

                @if (!String.IsNullOrWhiteSpace(Model.CabinPreferences))
                {
                    <dt class="col-lg-3">@Html.DisplayNameFor(x => x.CabinPreferences)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(x => x.CabinPreferences)</dd>
                }

                @if (!String.IsNullOrWhiteSpace(Model.OtherNotes))
                {
                    <dt class="col-lg-3">@Html.DisplayNameFor(x => x.OtherNotes)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(x => x.OtherNotes)</dd>
                }
            </dl>
        </div>
    </div>
</div>