@model CheckoutViewModel
@{ 
    var firstShown = false;
}
<h2 class="h2">
    Checkout
    <small class="text-muted"> - Order #@Model.Order.Id</small>
</h2>

<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">Ticket Type</th>
            <th scope="col">Recipient</th>
            <th scope="col">Cost</th>
        </tr>
    </thead>
    @foreach (var ticket in Model.Order.Tickets)
    {
        <tr>
            <td>@ticket.TicketType.Name</td>
            <td>@ticket.PreferredFullName</td>
            <td>@ticket.TicketType.Price.ToString("C")</td>
        </tr>
    }
    <tfoot>
    <tr>
        <td>&nbsp;</td>
        <th class="text-right">GST (Included):</th>
        <th>@((Model.Order.AmountTotal * 3 / 23).ToString("C"))</th>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <th class="text-right">Total:</th>
        <th>@Model.Order.AmountTotal.ToString("C")</th>
    </tr>
    </tfoot>
</table>

<div class="accordion" id="paymentProviders">
    @foreach (var payment in Model.PaymentProviders)
    {
    <div class="card">
        <div class="card-header" id="@Html.FormatValue(payment.Name, "payment{0}")" data-toggle="collapse" data-target="#@Html.FormatValue(payment.Name, "payment{0}View")" aria-controls="@Html.FormatValue(payment.Name, "payment{0}View")">
            <p class="h4 mb-0">
                @payment.Name
            </p>
        </div>

        <div id="@Html.FormatValue(payment.Name, "payment{0}View")" class="collapse @(firstShown ? "" : "show")" aria-labelledby="@Html.FormatValue(payment.Name, "payment{0}")" data-parent="#paymentProviders">
            <div class="card-body">
                @await Component.InvokeAsync(payment.Name, new { orderId = Model.OrderId })
            </div>
        </div>
    </div>
        firstShown = true;
    }
</div>

@*
<div class="list-group">
    @foreach (var payment in Model.PaymentProviders)
    {
        <input asp-for="SelectedPaymentProvider" type="radio" id="@Html.FormatValue(payment.Name, "payment{0}")" value="@payment.Name" />
        <label class="list-group-item" for="@Html.FormatValue(payment.Name, "payment{0}")">
            @payment.Name
        </label>
    }
</div>
*@
